<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

         <record id="servicios_action" model="ir.actions.act_window">
           <field name="name">servicios</field>
           <field name="type">ir.actions.act_window</field>
           <field name="res_model">api_tramites_servicios_17.servicios</field>
           <field name="view_mode">tree,form</field>
       </record>


       <record id="ordenamientos_action" model="ir.actions.act_window">
           <field name="name">ordenamientos</field>
           <field name="type">ir.actions.act_window</field>
           <field name="res_model">api_tramites_servicios_17.ordenamientos</field>
           <field name="view_mode">tree,form</field>
       </record>

    <!-- Menú principal para API SERVICIOS -->
    <menuitem id="api_servicios_menu" name="API SERVICIOS"/>

    <!-- Menús secundarios para cada modelo -->
    <menuitem id="servicios_api" name="Servicios" parent="api_servicios_menu" action="servicios_action" sequence="1"/>
    <menuitem id="categorias_api" name="Ordenamientos" parent="api_servicios_menu" action="ordenamientos_action" sequence="2"/>
    <menuitem id="settings_api" name="Settings" parent="api_servicios_menu" action="action_settings" sequence="3"/>

    </data>
</odoo>